
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>TRANSFORMING COMMUNITIES FOR SOCIAL CHANGE </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="https://eshisirumedical.co.ke/images/logo_transparent.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="https://eshisirumedical.co.ke/images/logo_transparent.png" />
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://eshisirumedical.co.ke/css/bootstrap.min.css" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="https://eshisirumedical.co.ke/css/pogo-slider.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="https://eshisirumedical.co.ke/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="https://eshisirumedical.co.ke/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://eshisirumedical.co.ke/css/custom.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">







    <!-- LOADER -->
    <div id="preloader"><strong><b>Please Wait.....</b></strong>
        <div class="loader"> 
            <img src="https://eshisirumedical.co.ke/images/loader.gif" alt="#" />

        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->


















    <!-- Start header -->
    <header class="top-header">
        <div class="header_top">
            
            <div class="container">
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href="index.php"><img src="https://eshisirumedical.co.ke/images/logo_transparent.png" alt="image" height="70px" width="80px"></a>
                    </div>
                    <div class="site_information">
                        <ul>
                            <li><a href="mailto:tcsc@gmail.com"><img src="https://eshisirumedical.co.ke/images/mail_icon.png" alt="#" />tcsc@gmail.com</a></li>
                            <li><a href="tel:0706430820"><img src="https://eshisirumedical.co.ke/images/phone_icon.png" alt="#" />0706 430 820</a></li>
                            <li><a class="join_bt" href="support.html">Donate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="header_bottom">
          <div class="container">
            <div class="col-sm-12">
                <div class="menu_orange_section" style="background: #ff880e;">
                   <nav class="navbar header-nav navbar-expand-lg"> 
                     <div class="menu_section">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="index.html" style="font-size:13px;">Home</a></li>
                        <li><a class="nav-link" href="gallery.html" style="font-size:13px;">Gallery</a></li>
                        <li><a class="nav-link" href="download.html" style="font-size:13px;">Downloads</a></li>
                        <li><a class="nav-link" href="blog.html" style="font-size:13px;">Blog</a></li>
                        <li><a class="nav-link" href="about.html" style="font-size:13px;">About us</a></li>
                        <li><a class="nav-link" href="contact.html" style="font-size:13px;">Contact us</a></li>
                        <li><a class="nav-link" href="testimonies.html" style="font-size:13px;">Let's Talk</a></li>
                    </ul>
                </div>
                     </div>
                 </nav> 
                </div>
            </div>
          </div>
        </div>
        
    </header>
    <!-- End header -->
<br><br><br><br>




<style>
div.gallary_page{
padding-left: 70px;


}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 250px;
  background: #ff880e;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 10px;
  text-align: center;
  color: white;
}
</style>

<div class="gallary_page">
<div class="gallery">
  <a target="_blank" href="gallery/1.jpg">
    <img src="https://eshisirumedical.co.ke/gallery/1.jpg" alt="" width="600" height="400">
  </a>
  <div class="desc">TCSC <br> Officials having a meeting <br> At the offices </div>
</div>

<div class="gallery">
  <a target="_blank" href="gallery/educate.jpg">
    <img src="https://eshisirumedical.co.ke/gallery/educate.jpg" alt="" width="600" height="400">
  </a>
  <div class="desc">WAR IS NOT THE ANSWER<br>spreading Info during an awareness</div>
</div>

<div class="gallery">
  <a target="_blank" href="gallery/girls.jpg">
    <img src="https://eshisirumedical.co.ke/gallery/girls.jpg" alt="" width="600" height="400">
  </a>
  <div class="desc">Peace is found on a joyful face<br>Girls playing together a game of Skipping rope </div>
</div>

<div class="gallery">
  <a target="_blank" href="gallery/party.jpg">
    <img src="https://eshisirumedical.co.ke/gallery/party.jpg" alt="" width="600" height="400">
  </a>
  <div class="desc">Christmas celebrations <br>Children enjoying themselves while eating  </div>
</div>

<div class="gallery">
  <a target="_blank" href="gallery/party1.jpg">
    <img src="https://eshisirumedical.co.ke/gallery/party1.jpg" alt="" width="600" height="400">
  </a>
  <div class="desc">Party Here we come<br>Children celebrating in a style<br> playing with balloons</div>
</div>

<div class="gallery">
  <a target="_blank" href="gallery/web5.jpg">
    <img src="https://eshisirumedical.co.ke/gallery/web5.jpg" alt="" width="600" height="400">
  </a>
  <div class="desc">Educating comunity leaders on violence<br> and how to overcome it</div>
</div>

<div class="gallery">
  <a target="_blank" href="gallery/empower.jpg">
    <img src="https://eshisirumedical.co.ke/gallery/empower.jpg" alt="" width="600" height="400">
  </a>
  <div class="desc">Group of Youths <br> who have benefited from <br>TCSC</div>
</div>

<div class="gallery">
  <a target="_blank" href="gallery/web2.jpg">
    <img src="https://eshisirumedical.co.ke/gallery/web2.jpg" alt="" width="600" height="400">
  </a>
  <div class="desc">TCSC officials <br>taking a photo after attending <br> a meeting successfully</div>
</div>

<div class="gallery">
  <a target="_blank" href="gallery/party2.jpg">
    <img src="https://eshisirumedical.co.ke/gallery/party2.jpg" alt="" width="600" height="400">
  </a>
  <div class="desc">Children taking their lunch <br> at lunch time hours <br>during christimas celebrations</div>
</div>

<div class="gallery">
  <a target="_blank" href="gallery/web1.jpg">
    <img src="https://eshisirumedical.co.ke/gallery/web1.jpg" alt="" width="600" height="400">
  </a>
  <div class="desc">Stay Safe! TCSC officials having their meeting & keeping 1M rule and wear of masks </div>
</div>

<div class="gallery">
  <a target="_blank" href="gallery/8.jpg">
    <img src="https://eshisirumedical.co.ke/gallery/8.jpg" alt="" width="600" height="400">
  </a>
  <div class="desc">TCSC oficials <br>analyzing a report that <br>has been taking</div>
</div>

<div class="gallery">
  <a target="_blank" href="gallery/help.jpg">
    <img src="https://eshisirumedical.co.ke/gallery/help.jpg" alt="" width="600" height="400">
  </a>
  <div class="desc">We care! <br> TCSC officials went to visit and helping the needy</div>
</div>

<div class="gallery">
  <a target="_blank" href="gallery/talk.jpg">
    <img src="https://eshisirumedical.co.ke/gallery/talk.jpg" alt="" width="600" height="100">
  </a>
  <div class="desc">Encouraging the lady to continue soldering on with life that together we’ll succeed</div>
</div>











</div> <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
            <div class="row">
               <div class="col-md-12 white_fonts">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <img src="https://eshisirumedical.co.ke/images/logo_transparent.png" alt="image" height="70px" width="80px">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <h3>Quick Links</h3>
                            </div>
                            <div class="full">
                                <ul class="menu_footer">
                                    <li><a href="index.html">> Home</a></li>
                                    <li><a href="gallery.html">> Gallary</a></li>
                                    <li><a href="download.html">> Downloads</a></li>
                                    <li><a href="blog.html">> Blog</a></li>
                                    <li><a href="about.html">> About us</a></li>
                                    <li><a href="support.html">> Support us</a></li>
                                    <li><a href="contact.html">> Contact us</a></li>
                                    <li><a href="testimonies.html">> Testimonials</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                             <h3>Newsletter</h3>
                             <p>Feel Free to get our newsletter free</p>
                             <div class="newsletter_form">
                                <form action="">
                                   <input type="email" placeholder="enter Email" name="#" required="">
                                   <button>Submit</button>
                                </form>
                             </div>
                         </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                             <h3>Contact us</h3>
                             <ul class="full">
                               <li><img src="https://eshisirumedical.co.ke/images/i5.png"><span>Trans-Nzoia<br>Kenya</span></li>
                               <li><img src="https://eshisirumedical.co.ke/images/i6.png"><a href="mailto:tcsc@gmail.com"><span>tcsc@gmail.com</span></a> </li>
                               <li><img src="https://eshisirumedical.co.ke/images/i7.png"><a href="tel:0706430820"></a><span>0706430820</span></li>
                             </ul>
                         </div>
                            </div>
                        </div>
					</div>
                </div>
			 </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">© Copyright 2020 </p>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="https://eshisirumedical.co.ke/js/jquery.min.js"></script>
	<script src="https://eshisirumedical.co.ke/js/popper.min.js"></script>
    <script src="https://eshisirumedical.co.ke/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="https://eshisirumedical.co.ke/js/jquery.magnific-popup.min.js"></script>
    <script src="https://eshisirumedical.co.ke/js/jquery.pogo-slider.min.js"></script>
    <script src="https://eshisirumedical.co.ke/js/slider-index.js"></script>
    <script src="https://eshisirumedical.co.ke/js/smoothscroll.js"></script>
    <script src="https://eshisirumedical.co.ke/js/form-validator.min.js"></script>
    <script src="https://eshisirumedical.co.ke/js/contact-form-script.js"></script>
    <script src="https://eshisirumedical.co.ke/js/isotope.min.js"></script>
    <script src="https://eshisirumedical.co.ke/js/images-loded.min.js"></script>
    <script src="https://eshisirumedical.co.ke/js/custom.js"></script>

</body>


<!--===Log In Button===-->
<div class="float-btn-group">
  <button class="btn-float btn-triger pink">
<a href="login.html" class="myButton float">log In</a>
</button>
</div>
<!--===

uses if function to show logout button when user is logged in
logout.php is pfound in the inc folder

<div class="float-btn-group">
  <button class="btn-float btn-triger pink">
<a href="inc/logout.php" class="myButton float">log out</a>
</button>
</div>


===-->
<!--=== end Log In Button===-->


<style type="text/css">
  .myButton {
  box-shadow: 0px 10px 14px -7px #276873;
  background:linear-gradient(to bottom, #FFA500 5%, #FFA500 100%);
  background-color:#FFC6C00;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:11px 6px;
  text-decoration:none;
  text-shadow:-14px 1px 50px #3d768a;
}

}
.myButton:active {
  position:relative;
  top:1px;
}

  .float{
  position:fixed;
  bottom:300px;
  right:1px;
  text-align:center;

}



.btn-float {

  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;

}

.btn-float:active, .btn-float:focus {
  outline: none;
}


.float-btn-group {
  position: relative;
  float: right;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.float-btn-group .btn-triger {
  z-index: 15;
  float: left;
}
.float-btn-group {
  position: absolute;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}



</style>







</html>
