
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>TRANSFORMING COMMUNITIES FOR SOCIAL CHANGE </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="https://eshisirumedical.co.ke/images/logo_transparent.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="https://eshisirumedical.co.ke/images/logo_transparent.png" />
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://eshisirumedical.co.ke/css/bootstrap.min.css" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="https://eshisirumedical.co.ke/css/pogo-slider.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="https://eshisirumedical.co.ke/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="https://eshisirumedical.co.ke/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://eshisirumedical.co.ke/css/custom.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">







    <!-- LOADER -->
    <div id="preloader"><strong><b>Please Wait.....</b></strong>
        <div class="loader"> 
            <img src="https://eshisirumedical.co.ke/images/loader.gif" alt="#" />

        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->


















    <!-- Start header -->
    <header class="top-header">
        <div class="header_top">
            
            <div class="container">
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href="index.html"><img src="https://eshisirumedical.co.ke/images/logo_transparent.png" alt="image" height="70px" width="80px"></a>
                    </div>
                    <div class="site_information">
                        <ul>
                            <li><a href="mailto:tcsc@gmail.com"><img src="https://eshisirumedical.co.ke/images/mail_icon.png" alt="#" />tcsc@gmail.com</a></li>
                            <li><a href="tel:0706430820"><img src="https://eshisirumedical.co.ke/images/phone_icon.png" alt="#" />0706 430 820</a></li>
                            <li><a class="join_bt" href="support.html">Donate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="header_bottom">
          <div class="container">
            <div class="col-sm-12">
                <div class="menu_orange_section" style="background: #ff880e;">
                   <nav class="navbar header-nav navbar-expand-lg"> 
                     <div class="menu_section">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="index.html" style="font-size:13px;">Home</a></li>
                        <li><a class="nav-link" href="gallery.html" style="font-size:13px;">Gallery</a></li>
                        <li><a class="nav-link" href="download.html" style="font-size:13px;">Downloads</a></li>
                        <li><a class="nav-link" href="blog.html" style="font-size:13px;">Blog</a></li>
                        <li><a class="nav-link" href="about.html" style="font-size:13px;">About us</a></li>
                        <li><a class="nav-link" href="contact.html" style="font-size:13px;">Contact us</a></li>
                        <li><a class="nav-link" href="testimonies.html" style="font-size:13px;">Let's Talk</a></li>
                    </ul>
                </div>
                     </div>
                 </nav> 
                </div>
            </div>
          </div>
        </div>
        
    </header>
    <!-- End header -->
  <br><br><br><br>

  <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
.MsoChpDefault
	{font-family:"Calibri","sans-serif";}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>



<div class=WordSection1 style="padding-left: 50px; padding-right: 100px;">

<p class=MsoNormal style='margin-bottom:7.95pt;text-align:justify;line-height:
106%'><b><span style='font-size:18.0pt;line-height:106%;color:black'>STATEMENT
OF NEED</span></b></p>

<p class=MsoNormal style='margin-bottom:7.95pt;text-align:justify;line-height:
106%'><span style='font-size:13.0pt;line-height:106%;color:black'>TCSC, has done tremendous work with community of Mt
Elgon over the past 10 years since 2009.  </span></p>

<p class=MsoNormal style='margin-bottom:7.95pt;text-align:justify;line-height:
106%'><span style='font-size:13.0pt;line-height:106%;color:black'>This kind of
healing work was started on the mountain shortly after election violence took
grip in an already violent community.  </span></p>

<p class=MsoNormal style='margin-bottom:7.95pt;text-align:justify;line-height:
106%'><span style='font-size:13.0pt;line-height:106%;color:black'>After several
trainings of the Ex-Militia Members, it has given us a new page, a new leaf and
it has been like a new dawn in the peace work.  </span></p>

<p class=MsoNormal style='margin-bottom:7.95pt;text-align:justify;line-height:
106%'><span style='font-size:13.0pt;line-height:106%;color:black'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:7.95pt;text-align:justify;line-height:
106%'><span style='font-size:13.0pt;line-height:106%;color:black'>After these
past 10 years, we are now realizing that the needs are so big. </span></p>

<p class=MsoNormal style='margin-bottom:7.95pt;text-align:justify;line-height:
106%'><span style='font-size:13.0pt;line-height:106%;color:black'>As healing
continues to take root in souls and mind of the Beneficiary of Mt Elgon, they realize
just how deep and complex trauma is in shaping a community and human.</span></p>

<p class=MsoNormal style='margin-bottom:7.95pt;text-align:justify;line-height:
106%'><span style='font-size:13.0pt;line-height:106%;color:black'>A lot of
voices have spoken and testify how the program has moved them and they have a
big shift in their social lifestyle and their livelihood.  </span></p>

<p class=MsoNormal style='margin-bottom:7.95pt;text-align:justify;line-height:
106%'><span style='font-size:13.0pt;line-height:106%;color:black'>Still more
young people who have not undergone the trainings are still in need of these
trainings. </span></p>

<p class=MsoNormal style='margin-bottom:7.95pt;text-align:justify;line-height:
106%'><span style='font-size:13.0pt;line-height:106%;color:black'>Our work
revolves around healing and creating a positive Respond to the social
challenges we are facing. </span></p>

<p class=MsoNormal style='margin-bottom:7.95pt;text-align:justify;line-height:
106%'><span style='font-size:13.0pt;line-height:106%;color:black'>Now we are
faced by the need of a complex community that is rooted in deep cultural
patterns that again hurts children and </span></p>

<p class=MsoNormal style='margin-bottom:7.95pt;text-align:justify;line-height:
106%'><span style='font-size:13.0pt;line-height:106%;color:black'>women without
pay attention to most of the things surrounding peaceful healing. Some of the
key things that we realized are listed below;</span></p>

<p class=MsoListParagraphCxSpFirst style='margin-bottom:7.95pt;text-align:justify;
text-indent:-.25in;line-height:106%'><span style='font-size:13.0pt;line-height:
106%;color:black'>a.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:13.0pt;line-height:106%;color:black'>Women
empowerment, in all the dimension women are subject and not equals to me. </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>This being a big challenge in the whole world, issues like using
family planning are not talked about and thus one can have as many children as
they believe God gives them. </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>So many parents are very young and get themselves having children
that it becomes very difficult to support their medical, educational and basic
needs. </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>One of the basic program is empowering women and help each other
to look at how to bring in life a health family and learning to talk about
feelings with their men.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;text-indent:-.25in;line-height:106%'><span style='font-size:13.0pt;
line-height:106%;color:black'>b.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:13.0pt;line-height:106%;color:black'>Both
the girls and young children are facing so many risks in life. Girls are
sexually abused by either relative, teachers or motorbike transporters just in
the name that they cannot afford Sanitary Towels thus they are at the mercies
of this individual at a certain time of their life. In just 7 months defilement
of minors’ case became so rampant and it brought a lot of concerns. </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>The sad thing is when a parent who is supposed to protect the
child especially the fathers go ahead and negotiate payments just to get rid of
the Law despite whatever laws are in the country. In this the woman has no say
and thus the victims usually end up not having justice. As we talked to the
police hoping to get help in stopping this, we only realized even women when
they go to fetch firewood from the forest, they are raped but can’t say to the
administration because they feel it is a shame.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;text-indent:-.25in;line-height:106%'><span style='font-size:13.0pt;
line-height:106%;color:black'>c.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:13.0pt;line-height:106%;color:black'>The
community still deeply use the skills of tradition midwives, who again are not
having any experience. </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>A lot of mortality death is experienced but not reported since
they try to help but have a difficult time if it is a complicated birth. Again,
it is a culture challenge where most women will not go to hospital because they
don’t want the male doctors to attend to them, issues related to HIV is still
needs a lot of awareness. </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>There is little knowledge about STI and HIV.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;text-indent:-.25in;line-height:106%'><span style='font-size:13.0pt;
line-height:106%;color:black'>d.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:13.0pt;line-height:106%;color:black'>There
are lots of Orphans that have been neglected in the care of elderly
grandparents or abusive relative, </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>they manage to go to school on a good day but without school
uniforms they feel odd and unsettled to be in class, </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>so some opt go for manual jobs and save money to buy books and
school uniforms. Girls stay out of school during </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>their menstrual circles and even as they go to school they have
never experience people who visit and give motivational talk. </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>In some situations, teachers get overwhelmed because of the number
of students they serve and lessons per day that they lose to concentrate on
follow up.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;text-indent:-.25in;line-height:106%'><span style='font-size:13.0pt;
line-height:106%;color:black'>e.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:13.0pt;line-height:106%;color:black'>The
Organization was founded with the community need of having a peace center, </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>to play as a neutral place where the communities from both clans
can meet and share skills and have dialogues about the progress of their
communities. </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>We have a two and half acre of land and In it there is a small
building that can’t fit the number of participants in some of the meetings at
the same time have </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>facilitators stay in especially when it rains. This center is
constructed it will give some of the orphan who are having extreme harsh
condition a home to feel love and </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:7.95pt;text-align:
justify;line-height:106%'><span style='font-size:13.0pt;line-height:106%;
color:black'>acceptance and look at life with hope, it will also provide a
library for school kids and high school students to have time of reading and opening
their mind wider with that opportunity. </span></p>

<p class=MsoListParagraphCxSpLast style='margin-bottom:7.95pt;text-align:justify;
line-height:106%'><span style='font-size:13.0pt;line-height:106%;color:black'>Plan
is also to have a workshop conference with rooms that communities can use for
peaceful and economic trainings as they happen.</span></p>

<p class=MsoNormal>&nbsp;</p>

</div>
 <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
            <div class="row">
               <div class="col-md-12 white_fonts">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <img src="https://eshisirumedical.co.ke/images/logo_transparent.png" alt="image" height="70px" width="80px">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <h3>Quick Links</h3>
                            </div>
                            <div class="full">
                                <ul class="menu_footer">
                                    <li><a href="index.html">> Home</a></li>
                                    <li><a href="gallery.html">> Gallery</a></li>
                                    <li><a href="download.html">> Downloads</a></li>
                                    <li><a href="blog.html">> Blog</a></li>
                                    <li><a href="about.html">> About us</a></li>
                                    <li><a href="support.html">> Support us</a></li>
                                    <li><a href="contact.html">> Contact us</a></li>
                                    <li><a href="testimonies.html">> Testimonials</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                             <h3>Newsletter</h3>
                             <p>Feel Free to get our newsletter free</p>
                             <div class="newsletter_form">
                                <form action="">
                                   <input type="email" placeholder="enter Email" name="#" required="">
                                   <button>Submit</button>
                                </form>
                             </div>
                         </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                             <h3>Contact us</h3>
                             <ul class="full">
                               <li><img src="https://eshisirumedical.co.ke/images/i5.png"><span>Trans-Nzoia<br>Kenya</span></li>
                               <li><img src="https://eshisirumedical.co.ke/images/i6.png"><a href="mailto:tcsc@gmail.com"><span>tcsc@gmail.com</span></a> </li>
                               <li><img src="https://eshisirumedical.co.ke/images/i7.png"><a href="tel:0706430820"></a><span>0706430820</span></li>
                             </ul>
                         </div>
                            </div>
                        </div>
					</div>
                </div>
			 </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">© Copyright 2020 </p>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="https://eshisirumedical.co.ke/js/jquery.min.js"></script>
	<script src="https://eshisirumedical.co.ke/js/popper.min.js"></script>
    <script src="https://eshisirumedical.co.ke/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="https://eshisirumedical.co.ke/js/jquery.magnific-popup.min.js"></script>
    <script src="https://eshisirumedical.co.ke/js/jquery.pogo-slider.min.js"></script>
    <script src="https://eshisirumedical.co.ke/js/slider-index.js"></script>
    <script src="https://eshisirumedical.co.ke/js/smoothscroll.js"></script>
    <script src="https://eshisirumedical.co.ke/js/form-validator.min.js"></script>
    <script src="https://eshisirumedical.co.ke/js/contact-form-script.js"></script>
    <script src="https://eshisirumedical.co.ke/js/isotope.min.js"></script>
    <script src="https://eshisirumedical.co.ke/js/images-loded.min.js"></script>
    <script src="https://eshisirumedical.co.ke/js/custom.js"></script>

</body>


<!--===Log In Button===-->
<div class="float-btn-group">
  <button class="btn-float btn-triger pink">
<a href="login.html" class="myButton float">log In</a>
</button>
</div>
<!--===

uses if function to show logout button when user is logged in
logout.php is pfound in the inc folder

<div class="float-btn-group">
  <button class="btn-float btn-triger pink">
<a href="inc/logout.php" class="myButton float">log out</a>
</button>
</div>


===-->
<!--=== end Log In Button===-->


<style type="text/css">
  .myButton {
  box-shadow: 0px 10px 14px -7px #276873;
  background:linear-gradient(to bottom, #FFA500 5%, #FFA500 100%);
  background-color:#FFC6C00;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:11px 6px;
  text-decoration:none;
  text-shadow:-14px 1px 50px #3d768a;
}

}
.myButton:active {
  position:relative;
  top:1px;
}

  .float{
  position:fixed;
  bottom:300px;
  right:1px;
  text-align:center;

}



.btn-float {

  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;

}

.btn-float:active, .btn-float:focus {
  outline: none;
}


.float-btn-group {
  position: relative;
  float: right;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.float-btn-group .btn-triger {
  z-index: 15;
  float: left;
}
.float-btn-group {
  position: absolute;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}



</style>







</html>
